/* Full height */
html, body {
  height: 100%;
}

.container {
  height: 100%;
}

#board {
  height: 100%;
  padding: 5px;
}

.table {
  height: 100%;
}

.tile {
  vertical-align: middle !important;
  text-align: center;
  font-size: xx-large;
}
